<!--Top section-->
<section class="catalog">
  <app-catalog-item
    *ngFor="let item of topSectionItems;"
    [item]="item"
    [ngClass]="{
      'catalog-item_wide': item.layoutType === 'wide-type1' || item.layoutType === 'wide-type2'
    }"
  ></app-catalog-item>
</section>

<!--Review section-->
<section class="catalog catalog_review">
  <app-catalog-item *ngFor="let item of reviewItems" [item]="item"></app-catalog-item>
</section>

<!--Bottom section-->
<section class="catalog">
  <app-catalog-item
    *ngFor="let item of bottomSectionItems;"
    [item]="item"
    [ngClass]="{
      'catalog-item_wide': item.layoutType === 'wide-type1' || item.layoutType === 'wide-type2'
    }"
  ></app-catalog-item>
</section>
