:host {
  display: flex;
  align-items: center;
  min-height: 50px;
  border: lavender 1px solid;
}

.header {

  &__logo {
    width: 50px;
    text-align: center;
    border-right: lavender 1px solid;
  }

  &__navigation {
    display: flex;
    flex-grow: 1;
  }
}

.navigation {
  margin-left: auto;
}
