:host {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 50px;
  border-bottom: 1px solid lavender;
}

.header {

  &__logo {
    width: 50px;
    text-align: center;
    border-right: 1px solid lavender;
  }

  &__navigation {
    display: flex;
    flex-grow: 1;
  }
}

.navigation {
  margin-left: auto;
}
